# SQL Example
Let's create the following database, remember that our first step should be to hit the terminal and start up postgresql with `sudo service postgresql start`
![](example_er.png)

In [2]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

'Connected: jovyan@si330'

In [4]:
%%sql
DROP TABLE IF EXISTS assignment;
CREATE TABLE assignment (
    id integer,
    descr varchar,
    num_points integer,
    PRIMARY KEY (id)
);

 * postgres://jovyan:***@localhost:5432/si330
Done.
Done.

[]

In [5]:
%%sql
select * from assignment;

 * postgres://jovyan:***@localhost:5432/si330
0 rows affected.

[]

In [12]:
host="localhost"
dbname="si330"
user="jovyan"
password="si330studentuser"

import psycopg2
conn = psycopg2.connect(host=host,dbname=dbname, user=user, password=password)

import pandas as pd
pd.read_sql("select * from assignment", conn)

Empty DataFrame
Columns: [id, descr, num_points]
Index: []

In [7]:
%%sql
insert into assignment (id, descr, num_points)
values (0, 'some desc', 0);

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[]

In [11]:
%sql select * from assignment

 * postgres://jovyan:***@localhost:5432/si330
2 rows affected.

[(0, 'some desc', 0), (1, 'some opther desc', 100)]

In [10]:
%%sql
insert into assignment (id, descr, num_points)
values (1, 'some opther desc', 100);

 * postgres://jovyan:***@localhost:5432/si330
1 rows affected.

[]

In [13]:
res=%sql select * from assignment 
for item in res:
    print(item[2])

 * postgres://jovyan:***@localhost:5432/si330
2 rows affected.
0
100

In [7]:
%%sql 
drop table if exists assignment;
drop table if exists users;
drop table if exists assignment_attempt;

 * postgres://jovyan:***@localhost:5432/si330
Done.
Done.
Done.

[]

In [8]:
%%sql
CREATE TABLE "assignment" (
  "id" integer,
  "descr" varchar,
  "num_points" integer,
  PRIMARY KEY ("id")
);

CREATE TABLE "users" (
  "username" varchar,
  PRIMARY KEY ("username")
);

CREATE TABLE "assignment_attempt" (
  "timestamp" timestamp,
  "user" varchar,
  "assignment" integer,
  "points_awarded" integer,
  PRIMARY KEY ("timestamp", "user")
);

CREATE INDEX "FK" ON  "assignment_attempt" ("assignment");

 * postgres://jovyan:***@localhost:5432/si330
Done.
Done.
Done.
Done.

[]

In [19]:
%sql select * from users

 * postgres://jovyan:***@localhost:5432/si330
0 rows affected.

[]

In [16]:
df=pd.read_sql("select * from assignment_attempt", conn)
df.head()

Empty DataFrame
Columns: [timestamp, user, assignment, points_awarded]
Index: []

In [21]:
df.dtypes

timestamp         object
user              object
assignment        object
points_awarded    object
dtype: object