# SQL Example
Let's create the following database, remember that our first step should be to hit the terminal and start up postgresql with `sudo service postgresql start`
![](example_er.png)

In [ ]:
%load_ext sql
%sql postgres://jovyan:si330studentuser@localhost:5432/si330

In [ ]:
%%sql 
drop table if exists assignment;
drop table if exists users;
drop table if exists assignment_attempt;

In [ ]:
%%sql
CREATE TABLE "assignment" (
  "id" integer,
  "descr" varchar,
  "num_points" integer,
  PRIMARY KEY ("id")
);

CREATE TABLE "users" (
  "username" varchar,
  PRIMARY KEY ("username")
);

CREATE TABLE "assignment_attempt" (
  "timestamp" timestamp,
  "user" varchar,
  "assignment" integer,
  "points_awarded" integer,
  PRIMARY KEY ("timestamp", "user")
);

CREATE INDEX "FK" ON  "assignment_attempt" ("assignment");

In [ ]:
%sql insert into users (username) values ('brooksch')

In [ ]:
%sql select * from users

In [ ]:
%sql insert into users (username) values ('cab938-1'),('cab938-2'),('cab938-3')

In [ ]:
%sql select * from users

In [ ]:
import string
import random
for i in range(0,10):
    random_characters=random.sample(string.ascii_letters,6)
    user="".join(random_characters)
    user="'"+user+"'"
    %sql insert into users (username) values ($user)
%sql select * from users

In [ ]:
# Now you try, populate the assignment table with half a dozen assignments

In [ ]:
# YOUR CODE HERE

In [ ]:
# Now lets generate some random user attempt data
users=%sql select username from users
users

In [ ]:
# Wait, what is this object?
print(type(users))

In [ ]:
# We can leave it as is to iterate over it
for user in users:
    print(user)

In [ ]:
# Notice that every element in the list is a tuple, but a tuple of length one.
clean_users=[]
for user in users:
    clean_users.append(user[0])
    print(user[0])

In [ ]:
# Let's get the assignments list as well
assignments=%sql select id from assignment
assignments=list(map(lambda z: z[0], assignments))
print(assignments)

In [ ]:
# Notice that %sql unpacks the correct type information for us too
print(type(assignments[0]))

In [ ]:
# Ok, now we have a list of assignments and a list of users. These are our foreign keys in assignment_attempt!
# So lets make some attempts
import datetime

for i in range(0,100):
    # What do we want to do here?

In [ ]:
# Let's see what we have in there
%sql select * from assignment_attempt limit 10

In [ ]:
# Ok, let's amp this up a bit. We can do some aggregations on this data just like in pandas. We do this by
# indicating the sql function we want to run around the selection parameters
%sql select max(points_awarded) from assignment_attempt

In [ ]:
# You can have multiple values being projected in that select, and you can name the return columns with the as keyword
%sql select max(points_awarded) as max, min(points_awarded) as min, avg(points_awarded) as mean from assignment_attempt

In [ ]:
# now you try it, get the standard deviation with stddev() and the total number of entries with count()

In [ ]:
# YOUR CODE HERE

In [ ]:
# What if you want to find out the average of each person's score?
%sql select user, avg(points_awarded) as average from assignment_attempt

In [ ]:
# Hrm. We expected there to be a lot of users there! But there is only one! What is happening here?

In [ ]:
%sql select "user", avg(points_awarded) as average from assignment_attempt

In [ ]:
# Ok, that's better, now instead of returning the username of the connect it's grabbing the right column.
# What is this error all about though? Why don't we double check out approach with pandas

In [ ]:
host="localhost"
dbname="si330"
user="jovyan"
password="si330studentuser"

import psycopg2
conn = psycopg2.connect(host=host,dbname=dbname, user=user, password=password)

import pandas as pd
import numpy as np
df=pd.read_sql("select * from assignment_attempt", conn)
df.head()

In [ ]:
df[["user","points_awarded"]].apply(np.mean)

In [ ]:
# Ok, so our problem is that we are trying to aggregate a username which makes no sense.
# In pandas though, how would we solve this?

In [ ]:
df[["user","points_awarded"]].groupby("user").apply(np.mean)

In [ ]:
# We can do the same thing in SQL!
%sql select "user", avg(points_awarded) from assignment_attempt group by "user"

In [ ]:
# A nice summary bit of data
%sql select "user" as username, count(*) as attempts_made, avg(points_awarded) as average_score, stddev(points_awarded) as stddev_score from assignment_attempt group by "user" order by username desc

In [ ]:
# Remember that we can restrict our queries based on the values of rows as well
%sql select * from assignment_attempt where points_awarded > 90

In [ ]:
# And you can have as many of the where clauses as you want
%sql select * from assignment_attempt where points_awarded > 90 and points_awarded < 95

In [ ]:
# There is some handy pattern matching in the where clauses too, which look a little bit like regex
%sql select * from assignment_attempt where "user" like '%c%' and "user" not like '%d%'

In [ ]:
# In truth, the regex functionality in standard SQL is very poor. This makes me very sad. However, postgres implements this as a function using substring()!

In [ ]:
# The result of each SQL query is a table (a relation). This means you can execute SQL against it. Beautifully recursive!
%sql select "user", avg(points_awarded) from assignment_attempt group by "user"

In [ ]:
%%sql
select username, average from (select "user" as username, avg(points_awarded) as average from assignment_attempt group by "user") as subtable where subtable.average > 60

In [ ]:
# This gets hard to read. Often we want to pretty print it.
# http://www.dpriver.com/pp/sqlformat.htm

In [ ]:
%%sql
SELECT username, 
       average 
FROM   (SELECT "user"              AS username, 
               Avg(points_awarded) AS average 
        FROM   assignment_attempt 
        GROUP  BY "user") AS subtable 
WHERE  subtable.average > 60