# Exercise 4
Given this dataset of spotty heart rate values, calculate my 11 second moving heart rate which is centered on a given data point. That is, the heart rate for time 1:20 should be the average of points from 1:15 through 1:25 inclusive. Interpolate missing observations in your calculation, and include the first and last five seconds in the calculation using only whatever data you have available.

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
df=pd.read_csv("datasets/run.csv")[["heart_rate","timestamp"]]
df=df.sample(round(len(df)/2))
df.head()

      heart_rate            timestamp
50         130.0  2019-08-21 03:25:06
255        140.0  2019-08-21 03:28:31
1962       157.0  2019-08-21 03:57:00
616        156.0  2019-08-21 03:34:32
978        154.0  2019-08-21 03:40:36

In [11]:
# Exercise 4
# Make sure you center the rolling window
# Make sure you set min_periods, the default requires them all to be filled in
# Don't ffill, this will throw off the average I explicitly asked for! Even though an ffill would make sense here phsysiologically
df.set_index(pd.to_datetime(df["timestamp"])).resample("1s").asfreq().sort_index().interpolate()["heart_rate"].rolling(11,center=True,min_periods=1).apply(np.nanmean)

                     heart_rate            timestamp
timestamp
2019-08-21 03:24:17       120.0  2019-08-21 03:24:17
2019-08-21 03:24:18         NaN                  NaN
2019-08-21 03:24:19       122.0  2019-08-21 03:24:19
2019-08-21 03:24:20       121.0  2019-08-21 03:24:20
2019-08-21 03:24:21         NaN                  NaN
2019-08-21 03:24:22       119.0  2019-08-21 03:24:22
2019-08-21 03:24:23         NaN                  NaN
2019-08-21 03:24:24       119.0  2019-08-21 03:24:24
2019-08-21 03:24:25         NaN                  NaN
2019-08-21 03:24:26         NaN                  NaN
2019-08-21 03:24:27         NaN                  NaN
2019-08-21 03:24:28       122.0  2019-08-21 03:24:28
2019-08-21 03:24:29       122.0  2019-08-21 03:24:29
2019-08-21 03:24:30       123.0  2019-08-21 03:24:30
2019-08-21 03:24:31       123.0  2019-08-21 03:24:31
2019-08-21 03:24:32         NaN                  NaN
2019-08-21 03:24:33         NaN                  NaN
2019-08-21 03:24:34         NaN                  NaN
2019-08-21 03:24:35         NaN                  NaN
2019-08-21 03:24:36         NaN                  NaN
2019-08-21 03:24:37         NaN                  NaN
2019-08-21 03:24:38         NaN                  NaN
2019-08-21 03:24:39         NaN                  NaN
2019-08-21 03:24:40       126.0  2019-08-21 03:24:40
2019-08-21 03:24:41       126.0  2019-08-21 03:24:41
2019-08-21 03:24:42         NaN                  NaN
2019-08-21 03:24:43       127.0  2019-08-21 03:24:43
2019-08-21 03:24:44         NaN                  NaN
2019-08-21 03:24:45       127.0  2019-08-21 03:24:45
2019-08-21 03:24:46       127.0  2019-08-21 03:24:46
...                         ...                  ...
2019-08-21 03:58:13         NaN                  NaN
2019-08-21 03:58:14       156.0  2019-08-21 03:58:14
2019-08-21 03:58:15         NaN                  NaN
2019-08-21 03:58:16       157.0  2019-08-21 03:58:16
2019-08-21 03:58:17       157.0  2019-08-21 03:58:17
2019-08-21 03:58:18         NaN                  NaN
2019-08-21 03:58:19         NaN                  NaN
2019-08-21 03:58:20       158.0  2019-08-21 03:58:20
2019-08-21 03:58:21       158.0  2019-08-21 03:58:21
2019-08-21 03:58:22         NaN                  NaN
2019-08-21 03:58:23       157.0  2019-08-21 03:58:23
2019-08-21 03:58:24       157.0  2019-08-21 03:58:24
2019-08-21 03:58:25       156.0  2019-08-21 03:58:25
2019-08-21 03:58:26         NaN                  NaN
2019-08-21 03:58:27         NaN                  NaN
2019-08-21 03:58:28         NaN                  NaN
2019-08-21 03:58:29         NaN                  NaN
2019-08-21 03:58:30       159.0  2019-08-21 03:58:30
2019-08-21 03:58:31       159.0  2019-08-21 03:58:31
2019-08-21 03:58:32       158.0  2019-08-21 03:58:32
2019-08-21 03:58:33       158.0  2019-08-21 03:58:33
2019-08-21 03:58:34       159.0  2019-08-21 03:58:34
2019-08-21 03:58:35         NaN                  NaN
2019-08-21 03:58:36       161.0  2019-08-21 03:58:36
2019-08-21 03:58:37       161.0  2019-08-21 03:58:37
2019-08-21 03:58:38         NaN                  NaN
2019-08-21 03:58:39         NaN                  NaN
2019-08-21 03:58:40       163.0  2019-08-21 03:58:40
2019-08-21 03:58:41       163.0  2019-08-21 03:58:41
2019-08-21 03:58:42       164.0  2019-08-21 03:58:42

[2066 rows x 2 columns]