# Exercise 4
Given this dataset of spotty heart rate values, calculate my 11 second moving heart rate which is centered on a given data point. That is, the heart rate for time 1:10 should be the average of points from 1:15 through 1:25 inclusive. Interpolate missing observations in your calculation, and include the first and last five seconds in the calculation using only whatever data you have available.

In [16]:
%matplotlib inline

import pandas as pd
import numpy as np
df=pd.read_csv("datasets/run.csv")[["heart_rate","timestamp"]]
df=df.sample(round(len(df)/2))
df.head()

      heart_rate            timestamp
481        151.0  2019-08-21 03:32:17
608        155.0  2019-08-21 03:34:24
769        159.0  2019-08-21 03:37:07
1507       157.0  2019-08-21 03:49:25
223        140.0  2019-08-21 03:27:59