In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'foo': [2,2,3,4,5,5,5,6]})
df.head()

In [15]:
%%timeit df0=df["foo"].copy()
num = 0
df0['bar'] = (df0.foo == df0.foo.shift())
def prange(bar):
    global num
    if bar:
        return num
    else:
        num+=1
        return num
df0['count'] = df0['bar'].apply(lambda x: prange(x))

   foo    bar  count
0    2  False      1
1    2   True      1
2    3  False      2
3    4  False      3
4    5  False      4
5    5   True      4
6    5   True      4
7    6  False      5

In [10]:
%%timeit df1=df["foo"].copy()
df1["count"]=df1.rolling(2).apply(lambda x: 0 if x[0]==x[1] else 1).cumsum()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

742 µs ± 272 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit -n 100 df2=df["foo"].copy()
res=np.ndarray(len(df2),dtype=int)
src=df2.values
res[0]=0
for i in range(1,len(df2)):
    if src[i]==src[i-1]:
        res[i]=res[i-1]
    else:
        res[i]=res[i-1]+1
df2["count"]=res

12.4 µs ± 7.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)